/**
  IMPORTANT

  1. You should never commit this file to a public repository.

  4. Use API keys below for local development, but create a separate set of API keys for production use.

  5. All hosting providers allow you to configure environment variables.

  6. Rename this file to `.env` and update `dotenv.load` path in `app.js`.
 */

NODE_ENV=development

PORT=3000
MONGODB=mongodb://127.0.0.1:27017/graphqlseed
IMAGE_SERVER_DOMAIN=192.168.1.25:3000